* {
    box-sizing: border-box;
}

body {
    font-family: Arial;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
    background-color: #eff5f8;
}

.reset-button {
    font-size: 16px;
    height: 30px;
    line-height: 8px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.large-font {
    font-size: 3.5em;
    text-align: center;
}

button {
    background: radial-gradient(circle, rgb(41, 21, 97) 0%, rgba(194, 61, 221, 0.954) 100%);
    background: rgb(41, 21, 97);
    border-radius: 8px;
    color: hsl(208, 48%, 89%);
    cursor: pointer;
    font-size: 2em;
    letter-spacing: 0.21px;
    line-height: 16px;
    max-width: fit-content;
    padding: 20px 52px;
    text-align: center;
    transition-duration: 0.15s;
    transition-property: background-color;
    transition-timing-function: linear;
    margin-top: 0.6em;
}

header {
    padding: 40px;
    text-align: center;
    background: #628db6;
    color: #fff;
    border-bottom: 30px #879274;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}